* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  background-color: darkred;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65%;
  width: 100%;
  border-bottom: 2px solid black;
}
img {
  height: 65px;
  width: auto;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav ul li {
  position: relative;
  display: inline-block;
  padding: 25px;
  font-weight: 400;
  list-style: none;
}
.nav ul li :hover {
  color: gray;
}
